body {
    background-color: darkgreen;
    color: white;
}

#bannerCanvas {
    padding: .5em;
    display: flex;
}

#resultsCanvas {
    display: flex;
    float: left;
    flex-wrap: wrap;
    width: 60%;
    padding-right: 2em;
}

.result-card {
    border: solid black 1px;
    padding: 1em;
    background-color: lightgreen;
    color: black;
    position: relative;
    width: 100%;
}

#addNote {
    height: 15em;
    width: 25%;
}

p {
    padding-left: 3em;
}

.overlay {
    width : 100%;
    height : 100%;
    z-index : 110;
    opacity : .01;
    top: 0;
    left: 0;
    position: absolute;
}